* {
    margin: 0;
    padding: 0;
  }
  
  .fondo {
    background-color: antiquewhite;
  }
  
  .titulo h1{
    text-align: center;
    color:red;
    margin-top: 20px;
    background-color: bisque;
    font-family: cursive;
    font-size: 4em;
  }

  .introduccion{
    
    background-color: #e78dff80;
    width: 43vw;
    font-size: 2em;
    margin: 0 auto;
  }

  .introduccion h2, p{
    text-align: center;
    font-family: serif;
  }

  .btnProductos{
    margin-left: 127px;
  }

  .listaProductos h2{
    margin-left: 52px;
    margin-top: 20px;
  }